{% extends 'django_classified/_base.html' %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block body %}

  <div class="row">
    <div class="col-lg-12">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Login" %}</h4>
          </div>
          <div class="modal-body">
            <ul>
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button type="submit">Login/Sign up</button>
              </form>
              <li><a href="{% url "social:begin" "facebook" %}">Login with Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
